@import '../../lib/styles/fonts/font.css';

.title {
    margin: 0 auto;
    text-align: center;
    /* background-color: aquamarine; */
    font-family: "NeoDunggeunmo";
    font-size: 1.7rem;
    font-weight: normal;
    margin-bottom: 3rem;
}

.search_button {
    /* background-color: darksalmon; */
    width: 10%;
    margin-top: 1rem;
    position: relative;
    right: -87%;
    text-align: center;
}

.search_box {
    /* background-color: sandybrown; */
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview_box {
    width: 95%;
    background-color: aqua;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
}

.preview {
    /* background-color: cadetblue; */
    border: 2px dashed #333;
    border-radius: 15px;
    padding: 15px 10px;
    margin-bottom: 1.5rem;
    /* float: center; */
    position: relative;
    cursor: pointer;
}

.preview_image {
    /* background-color: blue; */
    margin: 0 auto;
    margin-top: 0.5rem;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img {
    margin: 0 auto;
    margin-top: 0.5rem;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.preview_name {
    /* background-color: beige;
    border-radius: 10px; */
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    text-align: center;
    width: 200px;
    font-family: "S-CoreDream-3Light";
    font-size: 1rem;
    font-weight: bold;
}