@import '../../lib/styles/fonts/font.css';

.title {
    margin: 0 auto;
    text-align: center;
    /* background-color: aquamarine; */
    font-family: "NeoDunggeunmo";
    font-size: 1.7rem;
    font-weight: normal;
}

.question_box {
    /* background-color: aqua; */
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    font-family: "S-CoreDream-3Light";
    font-size: 1.3rem;
    font-weight: bolder;
}

.answer_box {
    /* background-color: bisque; */
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    font-family: "S-CoreDream-2Light";
    font-size: 1.1rem;
    font-weight: bold;
}

.buttons {
    margin: 0 auto;
    margin-top: 3rem;
    /* background-color: cadetblue; */
    text-align: center;
}


input {
    display: none;
}

input + label {
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    background-image: url('../../images/checkbox_gray.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}

input:checked + label {
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    background-image: url('../../images/checkbox_color.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}

.recommend_box {
    /* background-color: black; */
    margin: 0 auto;
    width: 500px;

}

.plant_image {
    background-color: aliceblue;
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
    width: 80%;
}

.plant_info {
    background-color: aquamarine;
    margin: 0 auto;
    text-align: center;
    font-family: "S-CoreDream-2Light";
    font-size: 1.3rem;
    font-weight: bold;
}

.others_box {
    background-color: brown;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.others {
    background-color: cadetblue;
    padding: 10px 20px;
}

.others_image {
    background-color: blue;
    margin: 0 auto;
    display: block;
    width: 200px;
}

.others_info {
    background-color: yellow;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
}