@import '../../lib/styles/fonts/font.css';

.calendar-wrapper {
    margin: 0 auto;
    margin-top: 1rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
}

.diary-container {
    width: 90%;
    width: 90%;
    border: 1px solid #333;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    margin-bottom : 50px;
}

.event {
    display: flex;
    justify-content: center;
}