@import '../../lib/styles/fonts/font.css';

.title {
    margin: 0 auto;
    text-align: center;
    /* background-color: aquamarine; */
    font-family: "NeoDunggeunmo";
    font-size: 1.7rem;
    font-weight: normal;
}

.buttons {
    width: 88%;
}

.diary_container {
    font-family: "S-CoreDream-3Light";
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 6rem;
    width: 90%;
    border: 2px dashed #333;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
}

.date {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    /* background-color: aqua; */
}

.text {
    font-weight: bold;
    margin-top: 2rem;
    width: 74%;
    float: right;
    margin-right: 2rem;
    /* background-color: darkcyan; */
}

.state_image {
    text-align: center;
    width: 20%;
    margin-bottom: 1rem;
    /* background-color: darkolivegreen; */
}